{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="example-wrapper">
        <div class="d-flex"><h1>Hi</h1> <h1 class="text-danger ms-2">{{app.user.email}}</h1></div>
        <h3>welcome to SpotifluxApi !<h3>

      
    </div>
</div>
{% endblock %}
